openapi: 3.0.0

info:
  title: DLTS Web Portal API
  version: 1.0.0

servers:
  - url: http://dltshub.redmond.corp.microsoft.com/api/dlws
components:
  parameters:
    cluster:
      in: query
      name: cluster
      required: true
      description: The specific cluster of the request
      schema:
        type: string
    email:
      in: query
      name: Email
      description: The email of the account, used in password authentication.
      schema:
        type: string
    key:
      in: query
      name: Key
      description: The password (key) of the account, used in password authentication.
      schema:
        type: string
    team:
      in: query
      name: Team
      description: The team of the request, used in password authentication.
      schema:
        type: string
  examples:
    initialSaveTemplate:
      value:
        message: "Succesfuly Add New Template"
    depulicateSaveTemplate:
      value:
        message: "Found a template in database which is not a job or not owned by the same user"  
    noSession:
      summary: No session
      value: Session timeout, please log in again.
    invalidCluster:
      summary: Cluster is empty or not found
      value: Invaid cluster
    unauthenticated:
      summary: AAD token is expired
      value: Unauthorized User, Please login!
paths:
  '/GetMountPoints':
    get:
      summary: Get mount points.
      parameters:
        - $ref: '#/components/parameters/cluster'
      tags:
        - Configuration
      responses:
        200:
          description: OK
          content:
            application/json:
              examples:
                default:
                  value:
                    mountdescription: "{'hdfs': 'Hadoop file system (replicated distribute storage).',
                      'azurefileshare': 'Azure file storage', 'localHDD': 'Local HDD. ', 'glusterfs':
                      'GlusterFS (replicated distributed storage)', 'nfs': 'NFS (remote file share)',
                      'emptyDir': 'Kubernetes emptyDir (folder will be erased after job termination).',
                      'local': 'Local SSD. '}"
                    mountpoints: "{'rootshare': {'curphysicalmountpoint': '/mntdlws/nfs', 'mountpoints':
                      '', 'server': '192.168.255.1', 'type': 'nfs', 'filesharename': '/data/share'}}"
                    username: qixcheng
                    mounthomefolder: true
                    deploymounts: '[]'
                    workPath: file://dltsprodstorage.redmond.corp.microsoft.com/qixcheng/
                    dataPath: file://dltsprodstorage.redmond.corp.microsoft.com/data/
                noCluster:
                  summary: Cluster is empty or not found
                  value:
                    mountdescription: '{}'
                    mountpoints: '{}'
                    username: qixcheng
                    mounthomefolder: false
                    deploymounts: '[]'
        400:
          description: Bad Request
          content:
            text/plain:
              examples:
                noSession:
                  $ref: '#/components/examples/noSession'
  '/grafana':
    get:
      summary: Get Grafana URL.
      parameters:
        - $ref: '#/components/parameters/cluster'
      tags:
        - Configuration
      responses:
        200:
          description: OK
          content:
            text/plain:
              example: 'http://dltsprod-infra01.eastus.cloudapp.azure.com:3000'
        400:
          description: Bad Request
          content:
            text/plain:
              examples:
                noSession:
                  $ref: '#/components/examples/noSession'
                invalidCluster:
                  $ref: '#/components/examples/invalidCluster'
  '/GetLog/{jobId}':
    get:
      tags:
        - Upstream Proxy
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      summary: This API is down
      description: Currently we are using /JobDetail to retrieve job logs.
      deprecated: true
      responses:
        500:
          description: Down
  '/GetVCs':
    get:
      summary: Proxy /ListVCs of the upstream.
      tags:
        - Upstream Proxy
      parameters:
        - $ref: '#/components/parameters/cluster'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/key'
        - $ref: '#/components/parameters/team'
      responses:
        200:
          description: OK
          content:
            application/json:
              examples:
                default:
                  value:
                    result: "[
                      {
                        'metadata': '{'P40':{'num_gpu_per_node':4}}',
                        'quota': '{'P40':43}',
                        'vcName': 'platform'
                      },
                      {
                        'metadata': '{'P40':{'num_gpu_per_node':4}}',
                        'quota': '{'P40':0}',
                        'vcName': 'vc1'
                        }
                    ]"
        400:
          description: Bad Request
          content:
            text/plain:
              examples:
                noSession:
                  $ref: '#/components/examples/noSession'
                unauthenticted:
                  $ref: '#/components/examples/unauthenticated'
                invalidCluster:
                  $ref: '#/components/examples/invalidCluster'
  '/GetStorages':
    get:  
      summary: Proxy /ListStorages of the upstream.
      tags:
        - Upstream Proxy
      parameters:
        - $ref: '#/components/parameters/cluster'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/key'
        - $ref: '#/components/parameters/team'
      responses:
        200:
          description: OK
          content:
            application/json:
              examples:
                default:
                  value:
                    result: "[]"   
        400:
          description: Bad Request
          content:
            text/plain:
              examples:
                noSession:
                  $ref: '#/components/examples/noSession'
                unauthenticted:
                  $ref: '#/components/examples/unauthenticated'
                invalidCluster:
                  $ref: '#/components/examples/invalidCluster'

  '/ListJobs':
    get:
      summary: Proxy /ListJobs of the upstream, with the current user as owner.
      tags:
        - Upstream Proxy
      parameters:
        - $ref: '#/components/parameters/cluster'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/key'
        - $ref: '#/components/parameters/team'
        - in: query
          name: num
          description: num query of the upstream.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              examples:
                default:
                  value:
                    finishedJobs: "[
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '37355d9a-4573-439b-a0a0-fe8f6df82e2e',
                                        'jobName':  'caffe training example - resnet18',
                                        'jobParams': {
                                          'cmd': 'caffe train -solver /work/caffe/solver_resnet18.prototxt',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '52ba2a24255345ffb9091182b8e03041',
                                          'gpuType': 'P40',
                                          'image': 'bvlc/caffe:gpu',
                                          'interactivePort': '',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'jobId': '37355d9a-4573-439b-a0a0-fe8f6df82e2e',
                                          'jobName': 'caffe training example - resnet18',
                                          'jobPath': 'v-liuhon/jobs/190709/37355d9a-4573-439b-a0a0-fe8f6df82e2e',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon/samples'
                                        },
                                        'jobStatus': 'failed',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-07-09T22:13:47+00:00',
                                            'hostIP': '192.168.0.14',
                                            'message': 'Error',
                                            'podIP': '10.2.76.10',
                                            'startedAt': '2019-07-09T22:13:37+00:00'
                                          }
                                        ],
                                        'jobTime': 'Tue, 09 Jul 2019 22:13:28 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '8d688236-f489-476e-ac65-0a6ca575ef1c',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': 'f83859fd942a408092d4c7164079b74b',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '8d688236-f489-476e-ac65-0a6ca575ef1c',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/8d688236-f489-476e-ac65-0a6ca575ef1c',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:58+00:00',
                                            'hostIP': '192.168.0.7',
                                            'message': 'Completed',
                                            'podIP': '10.2.208.6',
                                            'startedAt': '2019-06-29T01:35:49+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:54 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': 'a659300a-aaff-42a6-9d4b-3570aa84234b',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '47a255f4efef40c8a64833276503d7f7',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': 'a659300a-aaff-42a6-9d4b-3570aa84234b',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/a659300a-aaff-42a6-9d4b-3570aa84234b',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:57+00:00',
                                            'hostIP': '192.168.0.6',
                                            'message': 'Completed',
                                            'podIP': '10.2.152.6',
                                            'startedAt': '2019-06-29T01:35:49+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:54 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '33c5f35b-c00e-4e8a-ab64-f026a1f9c734',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': 'd5e550ccc7414b3a888ccf8909dddfdb',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '33c5f35b-c00e-4e8a-ab64-f026a1f9c734',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/33c5f35b-c00e-4e8a-ab64-f026a1f9c734',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:57+00:00',
                                            'hostIP': '192.168.0.23',
                                            'message': 'Completed',
                                            'podIP': '10.2.16.0',
                                            'startedAt': '2019-06-29T01:35:48+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:54 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '25ef4099-3b5e-4542-8034-58fe7e805287',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': 'ea564eb37cc44493834bf253e8b0b022',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '25ef4099-3b5e-4542-8034-58fe7e805287',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/25ef4099-3b5e-4542-8034-58fe7e805287',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:56+00:00',
                                            'hostIP': '192.168.0.15',
                                            'message': 'Completed',
                                            'podIP': '10.2.112.8',
                                            'startedAt': '2019-06-29T01:35:48+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:53 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '15edaca0-63e7-443f-a2e7-75490df46f81',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '989805f4c94c46c6b5f45d6620d6f1d1',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '15edaca0-63e7-443f-a2e7-75490df46f81',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/15edaca0-63e7-443f-a2e7-75490df46f81',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:55+00:00',
                                            'hostIP': '192.168.0.5',
                                            'message': 'Completed',
                                            'podIP': '10.2.128.5',
                                            'startedAt': '2019-06-29T01:35:47+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:53 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '096c4fb1-4807-49e8-bb63-0cdbe692bbe7',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '2090e09020f847bb8ed393ea5c04faf9',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '096c4fb1-4807-49e8-bb63-0cdbe692bbe7',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/096c4fb1-4807-49e8-bb63-0cdbe692bbe7',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:38+00:00',
                                            'hostIP': '192.168.0.11',
                                            'message': 'Completed',
                                            'podIP': '10.2.96.7',
                                            'startedAt': '2019-06-29T01:35:30+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:53 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '0800e751-6707-4c07-8a26-a2b2f7478fac',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '4bdf9c3e455647e386927c2b20bdba5f',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '0800e751-6707-4c07-8a26-a2b2f7478fac',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/0800e751-6707-4c07-8a26-a2b2f7478fac',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:38+00:00',
                                            'hostIP': '192.168.0.14',
                                            'message': 'Completed',
                                            'podIP': '10.2.76.9',
                                            'startedAt': '2019-06-29T01:35:29+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:53 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': 'b5d51bed-ed63-4daa-8b10-706b0d6e0147',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '344e5c8323c2437681d4204b7eeb7928',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': 'b5d51bed-ed63-4daa-8b10-706b0d6e0147',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/b5d51bed-ed63-4daa-8b10-706b0d6e0147',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:38+00:00',
                                            'hostIP': '192.168.0.17',
                                            'message': 'Completed',
                                            'podIP': '10.2.220.10',
                                            'startedAt': '2019-06-29T01:35:29+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:52 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '61e5dcab-13e2-4786-b9b8-2fc3bf90bcff',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': 'a219e33f0ae1438582b2a2508ead5101',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '61e5dcab-13e2-4786-b9b8-2fc3bf90bcff',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/61e5dcab-13e2-4786-b9b8-2fc3bf90bcff',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:37+00:00',
                                            'hostIP': '192.168.0.15',
                                            'message': 'Completed',
                                            'podIP': '10.2.112.9',
                                            'startedAt': '2019-06-29T01:35:28+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:52 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '0f3f544a-62cc-404a-99ff-43f88b9e3fdf',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '85e399b2db8541fbbea43804dcf6f28c',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '0f3f544a-62cc-404a-99ff-43f88b9e3fdf',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/0f3f544a-62cc-404a-99ff-43f88b9e3fdf',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:37+00:00',
                                            'hostIP': '192.168.0.5',
                                            'message': 'Completed',
                                            'podIP': '10.2.128.7',
                                            'startedAt': '2019-06-29T01:35:28+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:52 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': 'c276fea7-6ad5-462d-8046-48b954a982fb',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '84e492dd25514f4a8305d03ef9f9c403',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': 'c276fea7-6ad5-462d-8046-48b954a982fb',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/c276fea7-6ad5-462d-8046-48b954a982fb',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:37+00:00',
                                            'hostIP': '192.168.0.6',
                                            'message': 'Completed',
                                            'podIP': '10.2.152.7',
                                            'startedAt': '2019-06-29T01:35:27+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:51 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': 'd06995e6-8efb-4660-ae38-ddb01b657d70',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '5c6c11bc04bf435abfdb1373df76b680',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': 'd06995e6-8efb-4660-ae38-ddb01b657d70',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/d06995e6-8efb-4660-ae38-ddb01b657d70',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:36+00:00',
                                            'hostIP': '192.168.0.19',
                                            'message': 'Completed',
                                            'podIP': '10.2.80.9',
                                            'startedAt': '2019-06-29T01:35:27+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:51 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': 'd579288f-34ad-4c44-a1e1-0c772a65ea78',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': 'ff13b62ba4384c92adcbf58f6e183979',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': 'd579288f-34ad-4c44-a1e1-0c772a65ea78',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/d579288f-34ad-4c44-a1e1-0c772a65ea78',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:36+00:00',
                                            'hostIP': '192.168.0.12',
                                            'message': 'Completed',
                                            'podIP': '10.2.224.8',
                                            'startedAt': '2019-06-29T01:35:27+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:51 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': 'c697ae28-dde5-4997-9b66-e9da745cb262',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '7c5229093ab146cb8841ac1a315eea6f',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': 'c697ae28-dde5-4997-9b66-e9da745cb262',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/c697ae28-dde5-4997-9b66-e9da745cb262',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:35+00:00',
                                            'hostIP': '192.168.0.23',
                                            'message': 'Completed',
                                            'podIP': '10.2.16.0',
                                            'startedAt': '2019-06-29T01:35:26+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:50 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '45945967-f2bd-4e4d-99b8-25c1eda9507e',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': 'ba48a3daa53a471aa1341da014f64535',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '45945967-f2bd-4e4d-99b8-25c1eda9507e',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/45945967-f2bd-4e4d-99b8-25c1eda9507e',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:34+00:00',
                                            'hostIP': '192.168.0.15',
                                            'message': 'Completed',
                                            'podIP': '10.2.112.8',
                                            'startedAt': '2019-06-29T01:35:25+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:50 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': 'd90443c9-bfcf-44bc-a489-cd902e6b2e5b',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '13b1f54d64a046419e6722747a380d55',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': 'd90443c9-bfcf-44bc-a489-cd902e6b2e5b',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/d90443c9-bfcf-44bc-a489-cd902e6b2e5b',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:34+00:00',
                                            'hostIP': '192.168.0.5',
                                            'message': 'Completed',
                                            'podIP': '10.2.128.5',
                                            'startedAt': '2019-06-29T01:35:24+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:50 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '920c4821-27f0-4b45-ab88-1bfcd2bad303',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '71c2ce4791724d7ba4d43a96716f9b39',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '920c4821-27f0-4b45-ab88-1bfcd2bad303',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/920c4821-27f0-4b45-ab88-1bfcd2bad303',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:33+00:00',
                                            'hostIP': '192.168.0.19',
                                            'message': 'Completed',
                                            'podIP': '10.2.80.8',
                                            'startedAt': '2019-06-29T01:35:24+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:50 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '5d976875-e3b4-4957-95c6-e3c946d4b6f7',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': 'e8c7bf05dbd445bf9f1d422deb419e14',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '5d976875-e3b4-4957-95c6-e3c946d4b6f7',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/5d976875-e3b4-4957-95c6-e3c946d4b6f7',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:33+00:00',
                                            'hostIP': '192.168.0.7',
                                            'message': 'Completed',
                                            'podIP': '10.2.208.6',
                                            'startedAt': '2019-06-29T01:35:23+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:49 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      },
                                      {
                                        'endpoints': null,
                                        'errorMsg': null,
                                        'jobId': '53e959af-b29f-446b-9c70-b5b2f81f80bc',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobParams': {
                                          'cmd': 'echo HOSTNAME',
                                          'containerUserId': '0',
                                          'dataPath': '',
                                          'do_log': false,
                                          'enabledatapath': true,
                                          'enablejobpath': true,
                                          'enableworkpath': true,
                                          'env': [
                                            
                                          ],
                                          'familyToken': '70afd5ecbcf249259c137f84bec7931c',
                                          'gpuType': 'P40',
                                          'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                          'interactivePorts': [
                                            
                                          ],
                                          'isParent': 1,
                                          'is_interactive': false,
                                          'jobId': '53e959af-b29f-446b-9c70-b5b2f81f80bc',
                                          'jobName': 'DeepScale1.0-Regular',
                                          'jobPath': 'v-liuhon/jobs/190629/53e959af-b29f-446b-9c70-b5b2f81f80bc',
                                          'jobType': 'training',
                                          'jobtrainingtype': 'RegularJob',
                                          'mountpoints': [
                                            {
                                              '$$hashKey': 'object:33',
                                              'containerPath': '/home/v-liuhon',
                                              'description': 'NFS (remote file share)',
                                              'enabled': true,
                                              'hostPath': '/dlwsdata/work/v-liuhon',
                                              'name': 'homefolder'
                                            }
                                          ],
                                          'preemptionAllowed': false,
                                          'resourcegpu': 1,
                                          'runningasroot': true,
                                          'ssh': true,
                                          'userId': '535681400',
                                          'userName': 'v-liuhon@microsoft.com',
                                          'vcName': 'platform',
                                          'workPath': 'v-liuhon'
                                        },
                                        'jobStatus': 'finished',
                                        'jobStatusDetail': [
                                          {
                                            'finishedAt': '2019-06-29T01:35:32+00:00',
                                            'hostIP': '192.168.0.6',
                                            'message': 'Completed',
                                            'podIP': '10.2.152.6',
                                            'startedAt': '2019-06-29T01:35:23+00:00'
                                          }
                                        ],
                                        'jobTime': 'Sat, 29 Jun 2019 01:29:49 GMT',
                                        'jobType': 'training',
                                        'userName': 'v-liuhon@microsoft.com',
                                        'vcName': 'platform'
                                      }


                                   ]"
                    meta: "{'finishedJobs': '20','queuedJobs': '0','runningJobs': '0','visualizationJobs': '0'}"
                    queuedJobs: '[]'
                    runningJobs: '[]'
                    visualizationJobs: '[]'
        400:
          description: Bad Request
          content:
            text/plain:
              examples:
                noSession:
                  $ref: '#/components/examples/noSession'
                unauthenticted:
                  $ref: '#/components/examples/unauthenticated'
                invalidCluster:
                  $ref: '#/components/examples/invalidCluster'

  '/ListAllJobs':
    get:
      summary: Proxy /ListJobs of the upstream, with "all" as owner.
      tags:
        - Upstream Proxy
      parameters:
        - $ref: '#/components/parameters/cluster'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/key'
        - $ref: '#/components/parameters/team'
        - in: query
          name: num
          description: num query of the upstream.
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              examples:
                default:
                  value:
                    finishedJobs: "[]"
                    meta: "{'finishedJobs':'0','queuedJobs':'0','runningJobs':'14','visualizationJobs':'0'}"
                    queuedJobs: "[]"
                    runningJobs: "[
                                    {
                                      'endpoints': {
                                        'e-d5aea2e7-5d28-43bd-b301-d27489b04175-ssh': {
                                          'endpointDescription': {
                                            'apiVersion': 'v1',
                                            'kind': 'Service',
                                            'metadata': {
                                              'creationTimestamp': '2019-07-10T17:21:55Z',
                                              'labels': {
                                                'jobId': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                                'podName': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                                'run': 'd5aea2e7-5d28-43bd-b301-d27489b04175'
                                              },
                                              'name': 'e-d5aea2e7-5d28-43bd-b301-d27489b04175-ssh',
                                              'namespace': 'default',
                                              'resourceVersion': '25693179',
                                              'selfLink': '/api/v1/namespaces/default/services/e-d5aea2e7-5d28-43bd-b301-d27489b04175-ssh',
                                              'uid': '3767c8e5-a337-11e9-8479-000d3a1d8327'
                                            },
                                            'spec': {
                                              'clusterIP': '10.3.12.179',
                                              'externalTrafficPolicy': 'Cluster',
                                              'ports': [
                                                {
                                                  'name': 'ssh',
                                                  'nodePort': 30490,
                                                  'port': 22,
                                                  'protocol': 'TCP',
                                                  'targetPort': 22
                                                }
                                              ],
                                              'selector': {
                                                'podName': 'd5aea2e7-5d28-43bd-b301-d27489b04175'
                                              },
                                              'sessionAffinity': 'None',
                                              'type': 'NodePort'
                                            },
                                            'status': {
                                              'loadBalancer': {
                                                
                                              }
                                            }
                                          },
                                          'endpointDescriptionPath': 'jobfiles/190710/d5aea2e7-5d28-43bd-b301-d27489b04175/e-d5aea2e7-5d28-43bd-b301-d27489b04175-ssh.yaml',
                                          'hostNetwork': false,
                                          'id': 'e-d5aea2e7-5d28-43bd-b301-d27489b04175-ssh',
                                          'jobId': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                          'lastUpdated': '2019-07-10T17:22:01.289926',
                                          'name': 'ssh',
                                          'nodeName': 'dltsprod-worker-rsagxh',
                                          'podName': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                          'podPort': 22,
                                          'status': 'running',
                                          'username': 'joelpf'
                                        },
                                        'e-d5aea2e7-5d28-43bd-b301-d27489b04175-tensorboard': {
                                          'endpointDescription': {
                                            'apiVersion': 'v1',
                                            'kind': 'Service',
                                            'metadata': {
                                              'creationTimestamp': '2019-07-10T17:21:58Z',
                                              'labels': {
                                                'jobId': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                                'podName': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                                'run': 'd5aea2e7-5d28-43bd-b301-d27489b04175'
                                              },
                                              'name': 'e-d5aea2e7-5d28-43bd-b301-d27489b04175-tensorboard',
                                              'namespace': 'default',
                                              'resourceVersion': '25693190',
                                              'selfLink': '/api/v1/namespaces/default/services/e-d5aea2e7-5d28-43bd-b301-d27489b04175-tensorboard',
                                              'uid': '38a7aef9-a337-11e9-8479-000d3a1d8327'
                                            },
                                            'spec': {
                                              'clusterIP': '10.3.175.8',
                                              'externalTrafficPolicy': 'Cluster',
                                              'ports': [
                                                {
                                                  'name': 'tensorboard',
                                                  'nodePort': 30128,
                                                  'port': 44440,
                                                  'protocol': 'TCP',
                                                  'targetPort': 44440
                                                }
                                              ],
                                              'selector': {
                                                'podName': 'd5aea2e7-5d28-43bd-b301-d27489b04175'
                                              },
                                              'sessionAffinity': 'None',
                                              'type': 'NodePort'
                                            },
                                            'status': {
                                              'loadBalancer': {
                                                
                                              }
                                            }
                                          },
                                          'endpointDescriptionPath': 'jobfiles/190710/d5aea2e7-5d28-43bd-b301-d27489b04175/e-d5aea2e7-5d28-43bd-b301-d27489b04175-tensorboard.yaml',
                                          'hostNetwork': false,
                                          'id': 'e-d5aea2e7-5d28-43bd-b301-d27489b04175-tensorboard',
                                          'jobId': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                          'lastUpdated': '2019-07-10T17:22:02.167378',
                                          'name': 'tensorboard',
                                          'nodeName': 'dltsprod-worker-rsagxh',
                                          'podName': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                          'podPort': 44440,
                                          'status': 'running',
                                          'username': 'joelpf'
                                        }
                                      },
                                      'errorMsg': null,
                                      'jobId': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                      'jobName': 'DeepScale1.0-Regular',
                                      'jobParams': {
                                        'cmd': 'sleep infinity',
                                        'containerUserId': '0',
                                        'dataPath': '',
                                        'do_log': false,
                                        'enabledatapath': true,
                                        'enablejobpath': true,
                                        'enableworkpath': true,
                                        'env': [
                                          
                                        ],
                                        'familyToken': '4a55e092054f4fa482b859ce2c1a7d11',
                                        'gpuType': 'P40',
                                        'image': 'indexserveregistry.azurecr.io/deepscale:1.0.post0',
                                        'interactivePorts': [
                                          
                                        ],
                                        'isParent': 1,
                                        'is_interactive': false,
                                        'jobId': 'd5aea2e7-5d28-43bd-b301-d27489b04175',
                                        'jobName': 'DeepScale1.0-Regular',
                                        'jobPath': 'joelpf/jobs/190710/d5aea2e7-5d28-43bd-b301-d27489b04175',
[...]
